.lemon, .violet, .aqua, .red, .yellow, .orange, .pink, .blue, .green {font-family: 'Courier New', Courier, monospace;}

/* colors */
.lemon {color: #F0F2AD;}
.violet {color: #D2B8F2;}
.aqua {color: aqua;}
.red {color: #ff9b9d;}
.yellow {color: yellow;}
.orange {color: orange;}
.pink {color: #fca1e8;}
.blue {color: #0cf;}
.green {color: greenyellow;}